server:
  port: 0

spring:
  application:
    name: user-service
  datasource:
    url: jdbc:postgresql://localhost:5432/user-service-db
    username: admin
    password: admin
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        default_schema: users_schema

eureka:
  instance:
    instance-id: ${spring.application.name}:${random.value}
  client:
    serviceUrl:
      defaultZone: http://localhost:8888/eureka/
  renewalPercentThreshold: 0.85

logging:
  level:
    org.hibernate.SQL: DEBUG
    type.descriptor.sql.BasicBinder: TRACE