<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" type="text/css" href="/static/user/css/main-style.css">
    <title>Магазин</title>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/static/user/js/header.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
</head>

<header>
    <div id="header"></div>
</header>

<body class="bg-image">
<br/>
<div class="container">
    <br/>
    <h3 class="text-center md-3">Каталог товаров</h3>
    <br/>
    <div class="row">
        <div class="col-md-3">
            <h5>Отсортировать по</h5>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="sortByName" th:checked="${sortBy == 'name'}">
                <label class="form-check-label" for="sortByName">
                    Название
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="sortByPrice" th:checked="${sortBy == 'price'}">
                <label class="form-check-label" for="sortByPrice">
                    Цена
                </label>
            </div>
            <button class="btn btn-primary mt-3"
                    th:href="@{/market(sortByName=${(sortByName ? 'true,' : '')}, sortByPrice=${(sortByPrice ? 'true,' : '')})}">Отсортировать</button>
        </div>

        <div class="col-md-9">
            <table class="table table-hover">
                <thead>
                <tr>
                    <td>Название</td>
                    <td>Цена</td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="product : ${productPage.content}">
                    <td th:text="${(product.type == 1 ? 'Свинина,' : 'Зерно')}"></td>
                    <td th:text="${product.price}"></td>
                    <td>
                        <button class="btn btn-primary" th:onclick="'buy(\'' + ${product.id} + '\')'">Купить</button>
                    </td>
                </tr>
                </tbody>
            </table>

            <!-- Пагинация -->
            <!--<div th:if="${bookPage.totalPages > 0}" class="pagination">
                <ul class="pagination">
                    <li th:each="pageNumber : ${pageNumbers}" th:class="${pageNumber==bookPage.number + 1} ? 'page-item active' : 'page-item'">
                        <a th:href="@{/listBooks(size=${bookPage.size}, page=${pageNumber})}" class="page-link" th:text="${pageNumber}"></a>
                    </li>
                </ul>
            </div>-->
        </div>
    </div>
</div>


</body>
</html>